<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Plants</h1>
    <table>
        <tr>
            <th>Common Name</th>
            <th>Botanical Name</th>
            <th>Likes</th>
        </tr>
        <% for(let i=0; i <info.length; i++) {%>
            <tr>
                <td><%= info[i].commonName %></td>
                <td><%= info[i].botanicalName %></td>
                <td><%= info[i].likes %>
                    <span class='fa fa-thumbs-up'></span>
                    <span class='fa fa-thumbs-down'></span>
                    <span class='fa fa-trash'></span>
                </td>          
        <% } %>
    </table>

    <h2>Add A Plant:</h2>

    <form action="/addPlant" method="POST">
        <input type="text" placeholder="Common Name" name="commonName">
        <input type="text" placeholder="Botanical Name" name="botanicalName">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
